{% extends "./base.html" %}

{% block content %}
{% load static %}





  <div class="row espaciado  letrasinicio " style="margin-top: 5%; margin-bottom: 5%;">
    <div class="col-md-1 hidden-sm"></div>


    <div class="col-sm-10 col-md-10  espaciado">
      <div class="card  borde1 letrasinicio">
        <div class="card-body centrado">
            <p class="card-text text-righf">
                <a class="btn btn-dark" href="informacion" role="button">VOlVER A FICHA DEL RESIDENTE</a>
              </p>
            <h3>ANOTACIONES DEL RESIDENTE </h3>
          

            <div class="row espaciado centrado borde2">
              
    
    
                <div class="col-sm-12 col-md-12 centrado espaciado">
                  <h3 class="espaciado">1) ESTE RESIDENTE ES MUY ADICTO A LOL JUGANDOLO 12 HORAS AL DIA PARA LA EDAD QUE TIENE , AL MENOS LE SIRVE <PARAm>
                    CALMAR LA SOLEDAD QUE TIENE</h3>
                </div>

                <div class="col-sm-12 col-md-12 centrado espaciado">
                    <h3 class="espaciado">2) ESTE RESIDENTE ES MUY ADICTO A LOL JUGANDOLO 12 HORAS AL DIA PARA LA EDAD QUE TIENE , AL MENOS LE SIRVE <PARAm>
                      CALMAR LA SOLEDAD QUE TIENE</h3>
                  </div>

                  <div class="col-sm-12 col-md-12 centrado espaciado">
                    <h3 class="espaciado">3) ESTE RESIDENTE ES MUY ADICTO A LOL JUGANDOLO 12 HORAS AL DIA PARA LA EDAD QUE TIENE , AL MENOS LE SIRVE <PARAm>
                      CALMAR LA SOLEDAD QUE TIENE</h3>
                  </div>

                  <div class="col-sm-12 col-md-12 centrado espaciado">
                    <h3 class="espaciado">4) ESTE RESIDENTE ES MUY ADICTO A LOL JUGANDOLO 12 HORAS AL DIA PARA LA EDAD QUE TIENE , AL MENOS LE SIRVE <PARAm>
                      CALMAR LA SOLEDAD QUE TIENE</h3>
                  </div>

                  <div class="col-sm-12 col-md-12 centrado espaciado">
                    <h3 class="espaciado">5) ESTE RESIDENTE ES MUY ADICTO A LOL JUGANDOLO 12 HORAS AL DIA PARA LA EDAD QUE TIENE , AL MENOS LE SIRVE <PARAm>
                      CALMAR LA SOLEDAD QUE TIENE</h3>
                  </div>
    
              </div>











        </div>
      </div>
    </div>
    <div class="col-md1 hidden-sm"></div>
  </div>





  {% endblock %}

